{% extends 'base_basic.html'%}
<!-- Template hija -->

<html>
{%block contenido%}
	<body class="landing">
		<!-- Google Tag Manager (noscript) -->
		<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWDPMWP" -->
		<!-- height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
		<!-- End Google Tag Manager (noscript) -->
		<!-- Header -->
        {%block header%} 
		{%endblock%}

		{%block nav%}
        {%endblock%}

	<!-- Main	 -->
		{%block categoria_info%}{%endblock%} <!--Para la plantilla ocasion, estilo-->
		{%block categoria_info_extra%}{%endblock%}<!--Para la plantilla ocasion, estilo-->

		<!-- Banner -->
        {%block banner%}
        {%endblock%}

		<!-- One -->
        {%block galeria%}
        {%endblock%}

	
		<!-- Two -->
        {%block estilos%}    
        {%endblock%}

		<!-- Three -->

        {%block outfits%}
        {%endblock%}

        <!-- CTA -->
        {%block CTA%} 
        {%endblock%}

		<!-- Footer -->
			{%block Footer%} 
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<span class="copyright">
					&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
				</span>
			</footer>
			{%endblock%}
	</body>
</html>
{%endblock%}
