{% extends 'base.html'%}
<html>
		<!-- Header -->
		{%block header%}
			<header id="header" class="skel-layers-fixed">
				<nav id="nav">
					<ul>
						<li><a href="../../">Inicio</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Outfits asociados</a>
						</li>
					</ul>
				</nav>
			</header>
		{%endblock%}

		<!-- Main -->
			{%block categoria_info%}	
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>Estilos</h2>
					<p>¡Los mejores estilos!</p>
				</header>
			</section>
			{%endblock%}
			
				
			{%block categoria_info_extra%}
				<div class="container">
					<div class="row 150%">
						<div class="8u 12u$(2)">
							<!-- Content -->
								<section id="content">
									<a href="#" class="image fit"></a>
									<h3>Compromiso</h3>
									<p>Nos comprometemos con nuestros clientes y su necesidad por encontrar lo que necesiten en nuestra amplia gama de prendas y, por consecuente, outfits. ¡Vístete con nosotros!</p>
									<h3>Gran variedad</h3>
									<p>Disponemos de una amplia variedad de estilos disponibles para nuestros usuarios, selecciona el que más se ajuste a tu personalidad y déjate llevar por el encanto de Outfit Showroom:</p>
									<ul>
										{%for i in estilo_list%}
										<li><a href="../estilo/{{i.id_est}}">{{i.nombre}}</a></li>
										{%endfor%}
									</ul>
								</section>
						</div>
						<div class="4u 12u$(2)">
						

							<!-- Sidebar -->
								<section id="sidebar">
									<section>
										<h3>Magna Feugiat</h3>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button small alt">Learn More</a></li><!--<img src="" alt="" />-->
											</ul>
										</footer>
									</section>
									<hr />
									<section>
										<a href="#" class="image fit"></a> <!--<img src="" alt="" />-->
										<h3>Amet Lorem Tempus</h3>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button small alt">Learn More</a></li>
											</ul>
										</footer>
									</section>
								</section>
						</div>
					</div>
				</div>
			{%endblock%}
</html>