{% extends 'base.html'%}
{% load static %}
	<body class="landing">
		<!-- Header -->
			{%block nav%}
			<header id="header" class="alt skel-layers-fixed name=header">
				
				<nav id="nav">
					<ul>
						<li><a href="#header">Home</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Ocasiones</a>
							<ul>
								{%for i in ocasion_list%}
								<li><a href="../ocasion/{{i.id_oc}}">{{i.nombre}}</a></li> <!-- Algo estamos implantando mal de scripts que no sed espliega el menu-->
								{% endfor %}
							</ul>
							
						</li>
						<li>
							<a href="" class="icon fa-angle-down">Estilos</a>
							<ul>
								{%for i in estilo_list%}
								<li><a href="../estilo/{{i.id_est}}">{{i.nombre}}</a></li> <!-- Algo estamos implantando mal de scripts que no sed espliega el menu-->
								{% endfor %}
							</ul>
							
						</li>
						<li>
							<a href="" class="icon fa-angle-down">Outfits</a>
							<ul>
								{%for i in outfit_list%}
								<li><a href="../outfit/{{i.id_out}}">{{i.nombre}}</a></li> <!-- Algo estamos implantando mal de scripts que no sed espliega el menu-->
								{% endfor %}
							</ul>
						</li>
						<li><a href="../contact/">Formulario de Contacto (Beta)</a></li>
					</ul>
				</nav>
			</header>
			{%endblock%}

		<!-- Banner -->
			{%block banner%}
			<section id="banner">
				<div class="inner">
					<h2>Outfit Showroom!</h2>
					<p>Clothes is what you buy, fashion is what you do with them</p>
					<ul class="actions">
						<li><a href="#one" class="button big scrolly">Learn More</a></li>
					</ul>
				</div>
			</section>
			{%endblock%}

		<!-- One -->
			{%block galeria%}
			<section id="one" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>GALERÍA 2021</h2>
						<p>Outfit Showroom es una empresa dedicada a la creación de outfits según distintas ocasiones y estilos.<br /> <!-- Igual esto en vez de darle estilo/formato mediante br podriamos centrarlo desde css (viene así por defecto) TODO -->
							Para ello, contamos con un gran equipo de expertos en tendencias altamente cualificados para asesorar a cualquiera de nuestros clientes.<br /></p>
					</header>
					<div class="slider">
						<span class="nav-previous"></span>
						<div class="viewer">
							<div class="reel">
								<div class="slide"> <!-- Cuando se vuelquen todas las imagens a bbdd, se pondra con un nombre adecuado-->
									<img src="{%static '../static/images_ropa/EFECTO PIEL/Captura de pantalla 2021-11-12 a las 0.15.50.png' %}" alt="" />
								</div>
								<div class="slide">
									<img src="{%static '../static/images_ropa/CRUZADA EFECTO PIEL/Captura de pantalla 2021-11-12 a las 0.06.31.png' %}" alt="" /> 
								</div>
								<div class="slide">
									<img src="{%static '../static/images_ropa/Asimetrico/Asimetrico5.png' %}"  alt="" img/> 
								</div>
							</div>
						</div>
						<span class="nav-next"></span>
					</div>
				</div>
			</section>
			{%endblock%}
			
		<!-- Two -->
		{%block estilos%}
			<section id="two" class="wrapper style2">
				<div class="container">
					<div class="row uniform">
						{%for i in estilo_list%}
						<div class="4u 6u(2) 12u$(3)"> 
							<section class="feature fa-briefcase"> <!-- TODO utiliza "feature fa-..." para asignar iconos a cada bloque, entre otras cosas. Antes habia 6 bloques en el HTML pero con el for lo hemos redudico a 1 ya que lo multiplica por 6. Hay que conseguir que salga un icono distinto en cada bloque (Mirar codigo comentado)-->	
								<h3>{{i.nombre}}</h3> <!-- TODO poner link que lleve la ventana de estilo Casual-->
								<p>{{i.desc}}</p>
							</section>
						</div>
						{%endfor%}
						<!-- <div class="4u 6u$(2) 12u$(3)">
							<section class="feature fa-code">
								<h3>Ultricies dolore</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div>
						<div class="4u$ 6u(2) 12u$(3)">
							<section class="feature fa-save">
								<h3>Magna lacinia</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div>
						<div class="4u 6u$(2) 12u$(3)">
							<section class="feature fa-desktop">
								<h3>Praesent lacinia</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div>
						<div class="4u 6u(2) 12u$(3)">
							<section class="feature fa-camera-retro">
								<h3>Morbi semper</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div>
						<div class="4u$ 6u$(2) 12u$(3)">
							<section class="feature fa-cog">
								<h3>Arcu consequat</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div> -->
					</div>
				</div>				
			</section>
			{%endblock%}
			
		<!-- Three -->
			{%block outfits%}
			<section id="three" class="wrapper style1">
				
				<div class="container">
					
					<header class="major">
						<h2>Outfits 2021</h2>
						<p>Outfit Showroom ha llevado a cabo una selección de outfits prediseñados,<br>
						con el fin de reflejar nuestra visión de futuro y nuestro propio estilo.<br>
						</p>
					</header>
					<div class="row">
						{%for i in outfit_list%}
						<div class="4u 6u$(2) 12u$(3)">
							<article class="box post">
								<a href="#" class="image fit"><img src="{% static '../static/images_ropa/BÁSICA/Captura de pantalla 2021-11-12 a las 0.14.12.png' %}" alt="" /></a>
								<h3>{{i.nombre}}</h3>
								<p>{{i.desc}}</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
						{% endfor%}
					</div>
				</div>
			</section>
			{%endblock%}
			
			
		<!-- CTA -->
		{%block CTA%}
			<section id="cta" class="wrapper style3">
				<h2>OUTFIT SHOWROOM</h2>
				<ul class="actions">
					<li><a href="#" class="button big">Volver a arriba</a></li>
				</ul>
			</section>
		{%endblock%}
			
		