{% extends 'base.html'%}
{% load static %}
	<body class="landing">

		<!-- Header -->
			{%block nav%}
			<header id="header" class="alt skel-layers-fixed name=header">
				<nav id="nav">
					<ul>
						<li>
							<a href="../ocasion/{{i.id_oc}}">Ocasiones</a>
						</li>
						<li>
							<a href="../estilo/{{i.id_est}}">Estilos</a>
							
						</li>
						<li>
							<a href="../outfit/{{i.id_out}}" >Outfits</a>
						</li>
						<li><a href="../contact/">Formulario de Contacto (Beta)</a></li>
					</ul>
				</nav>
			</header>
			{%endblock%}


		<!-- Banner -->
			{%block banner%}
			<section id="banner">
				<div class="inner">
					<h2>OUTFIT SHOWROOM</h2>
					<p>La ropa es lo que compras, la moda es lo que haces con ella.</p>
					<ul class="actions">
						<li><a href="#one" class="button big scrolly">Saber más</a></li>
					</ul>
				</div>
			</section>
			{%endblock%}

		<!-- One -->
			{%block galeria%}
			<section id="one" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>GALERÍA 2021</h2>
						<p>Outfit Showroom es una empresa dedicada a la creación de outfits según distintas ocasiones y estilos.<br /> <!-- Igual esto en vez de darle estilo/formato mediante br podriamos centrarlo desde css (viene así por defecto) TODO -->
							Para ello, contamos con un gran equipo de expertos en tendencias altamente cualificados para asesorar a cualquiera de nuestros clientes.<br /></p>
					</header>
					<div class="slider">
						<span class="nav-previous"></span>
						<div class="viewer">
							<div class="reel">
								<div class="slide"> <!-- Cuando se vuelquen todas las imagens a bbdd, se pondra con un nombre adecuado-->
									<img src="{%static '../static/images_ropa/Asimetrico/Asimetrico5.png' %}" alt="Outfit Asimetrico imagen 5" />
								</div>
								<div class="slide">
									<img src="{%static '../static/images_ropa/SATINADA CRUZADA/satinada1.png' %}" alt="Outfit Asimetrico imagen 5" /> 
								</div>
								<div class="slide">
									<img src="{%static '../static/images_ropa/BÁSICA/basica1.png' %}"  alt="Outfit Asimetrico imagen 5"/> 
								</div>
							</div>
						</div>
						<span class="nav-next"></span>
					</div>
				</div>
			</section>
			{%endblock%}
			
		<!-- Two -->
		{%block estilos%}
			<section id="two" class="wrapper style2">
				<div class="container">
					<div class="row uniform">
						{%for ocasion in ocasion_list%}
						<div class="4u 6u(2) 12u$(3)"> 
							<section class="feature fa-camera-retro"> <!-- TODO utiliza "feature fa-..." para asignar iconos a cada bloque, entre otras cosas. Antes habia 6 bloques en el HTML pero con el for lo hemos redudico a 1 ya que lo multiplica por 6. Hay que conseguir que salga un icono distinto en cada bloque (Mirar codigo comentado)-->	
								<h3>{{ocasion.nombre}}</h3> <!-- TODO poner link que lleve la ventana de estilo Casual-->
								<p>{{ocasion.desc}}</p>
							</section>
						</div>
						{%endfor%}
						 <!-- <div class="4u 6u$(2) 12u$(3)">
							<section class="feature fa-code">
								<h3>Ultricies dolore</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div> -->
						<!-- <div class="4u$ 6u(2) 12u$(3)">
							<section class="feature fa-save">
								<h3>Magna lacinia</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div>
						<div class="4u 6u$(2) 12u$(3)">
							<section class="feature fa-desktop">
								<h3>Praesent lacinia</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div>
						<div class="4u 6u(2) 12u$(3)">
							<section class="feature fa-camera-retro">
								<h3>Morbi semper</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div>
						<div class="4u$ 6u$(2) 12u$(3)">
							<section class="feature fa-cog">
								<h3>Arcu consequat</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div> -->
					</div>
				</div>				
			</section>
			{%endblock%}
			
		<!-- Three -->
			{%block outfits%}
			<section id="three" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>Outfits 2021</h2>
						<p>Outfit Showroom ha llevado a cabo una selección de outfits prediseñados,<br>
						con el fin de reflejar nuestra visión de futuro y nuestro propio estilo.<br>
						</p>
					</header>
					<div class="row">
						{%for ocasion in ocasion_list%}
						<div class="4u 6u$(2) 12u$(3)">
							<article class="box post">
								<a href="#" class="image fit"><img src="{% static '../static/images_ropa/ESTAMPADA/estampada1.png' %}" alt="Outfit Asimetrico imagen 5" /></a>
								<h3>{{ocasion.nombre}} - {{ocasion.outfit_set.first.nombre}}</h3>
								<p>{{ocasion.desc}}</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
						{% endfor%}
						
					</div>
				</div>
			</section>
			{%endblock%}

		<!-- CTA -->
		{%block CTA%}
			<section id="cta" class="wrapper style3">
				<div id="experiencia">
					<div class="estado">
						<button v-if="state === 'default'" @click="changeState('edit')" @click="introducirParrafo()" class="button big">¡Cuentanos tu experiencia!</button>
						<button v-else @click="changeState('default')"  class="button big">Finalizar</button>
					</div>

					<section v-if="state === 'edit'">
						<section v-if="state === 'edit'">
							<form name="experiencia" ></form>
								<label class="formHome" >Nombre</label>
								<input v-model='nombre'type="text" placeholder="Nombre">
								<label>Apellido</label>
								<input v-model='apellido' type="text" placeholder="Apellido">
								<label>Dirección</label>
								<input v-model='dir' type="text" placeholder="Dirección">
								<label>Correo</label>
								<input v-model='correo' type="email" placeholder="Correo" name="" id="">
								<label>¡Cuentanos tu experiencia!</label>
								<input v-model='experiencia' type="text" @keyup.enter="saveExperiencia" placeholder="¡Cuentanos tu experiencia!">
								<input type="submit" @click="saveExperiencia" class="button big" placeholder="ENVIAR!">
							</form>
						</section>
					</section>
				</div>	
			</section>

			<script>
				new Vue({
					el:'#experiencia',
					data:{
						state:'default',
						
						nombre:null,
						apellido:null,
						dir:null,
						correo:null,
						experiencia:null,
						experiencias:[],						
					}, 
				
					methods:{
						saveExperiencia(){
							this.experiencias.push({
								nombre:this.nombre,
								apellido:this.apellido,
								dir:this.dir,
								correo: this.correo,
								experiencia:this.experiencia,
								
							}),
							alert("Experiencia guardada");
							experiencia="";
						},

						changeState: function(newState){
							this.state = newState;
						}
					}
				})
  			</script>
		{%endblock%}
			
		