{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

		<script src="{% static '../static/js/jquery.min.js' %}"></script>
		<script src="{% static '../static/js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static '../static/js/jquery.scrollgress.min.js' %}"></script>
		<script src="{% static '../static/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static '../static/js/jquery.slidertron.min.js' %}"></script>
		<script src="{% static '../static/js/skel.min.js' %}"></script>
		<script src="{% static '../static/js/skel-layers.min.js' %}"></script>
		<script src="{% static '../static/js/init.js' %}"></script>
		<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script> <!-- jQuery (https://jquery.com/download/) -->

		<link rel="stylesheet" href="{% static '../static/css/skel.css' %}" />
		<link rel="stylesheet" href="{% static '../static/css/style.css' %} " />
		<link rel="stylesheet" href="{% static '../static/css/style-xlarge.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">
		<!-- TODO mirar porque se ha cambiado el formato de los textos-> negrtia, tamaño... Mirar en style.css !!!-->
		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed name=header">
				
				<h1><a href="index.html">HTML5 Website <span>by Html5webtemplates.co.uk</span></a></h1>
				
				<nav id="nav">
					{%block menus_desplegables%}
					<ul>
						<li><a href="#header">Home</a></li>
						<li>
							<a href="" class="icon fa-angle-down">Ocasiones</a>
							<ul>
								{%for i in ocasion_list%}
								<li><a href="../ocasion/{{i.id_oc}}">{{i.nombre}}</a></li> <!-- Algo estamos implantando mal de scripts que no sed espliega el menu-->
								{% endfor %}
							</ul>
							
						</li>
						<li>
							<a href="" class="icon fa-angle-down">Estilos</a>
							<ul>
								{%for i in estilo_list%}
								<li><a href="../estilo/{{i.id_est}}">{{i.nombre}}</a></li> <!-- Algo estamos implantando mal de scripts que no sed espliega el menu-->
								{% endfor %}
							</ul>
							
						</li>
						<li>
							<a href="" class="icon fa-angle-down">Outfits</a>
							<ul>
								{%for i in outfit_list%}
								<li><a href="../outfit/{{i.id_out}}">{{i.nombre}}</a></li> <!-- Algo estamos implantando mal de scripts que no sed espliega el menu-->
								{% endfor %}
							</ul>
						</li>
					</ul>
					{%endblock%}
				</nav>
				
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Outfit Showroom!</h2>
					<p>Clothes is what you buy, fashion is what you do with them</p>
					<ul class="actions">
						<li><a href="#one" class="button big scrolly">Learn More</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2>GALERÍA 2021</h2>
						<p>Outfit Showroom! is a company dedicated to creating outfits based on<br /> <!-- Igual esto en vez de darle estilo/formato mediante br podriamos centrarlo desde css TODO -->
						occasions and styles. To do this, we have a great team of experts in trends.<br /></p>
					</header>
					<div class="slider">
						<span class="nav-previous"></span>
						<div class="viewer">
							<div class="reel">
								<div class="slide"> <!-- TODO Poner outfit y comprobar que se vean bien-->
									<img src="{%static '../static/images_ropa/CBLS JCKT 07/Captura de pantalla 2021-11-11 a las 23.54.51.png' %}" alt="" img/>
								</div>
								<div class="slide">
									<img src="images/slide02.jpg" alt="" />
								</div>
								<div class="slide">
									<img src="images/slide03.jpg" alt="" />
								</div>
							</div>
						</div>
						<span class="nav-next"></span>
					</div>
				</div>
			</section>

			
		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="container">
					{%block estilos%}
					<div class="row uniform">
						{%for i in estilo_list%}
						<div class="4u 6u(2) 12u$(3)"> 
							<section class="feature fa-briefcase"> <!-- TODO utiliza "feature fa-..." para asignar iconos a cada bloque, entre otras cosas. Antes habia 6 bloques en el HTML pero con el for lo hemos redudico a 1 ya que lo multiplica por 6. Hay que conseguir que salga un icono distinto en cada bloque (Mirar codigo comentado)-->	
								<h3>{{i.nombre}}</h3> <!-- TODO poner link que lleve la ventana de estilo Casual-->
								<p>{{i.desc}}</p>
							</section>
						</div>
						{%endfor%}
						<!-- <div class="4u 6u$(2) 12u$(3)">
							<section class="feature fa-code">
								<h3>Ultricies dolore</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div>
						<div class="4u$ 6u(2) 12u$(3)">
							<section class="feature fa-save">
								<h3>Magna lacinia</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div>
						<div class="4u 6u$(2) 12u$(3)">
							<section class="feature fa-desktop">
								<h3>Praesent lacinia</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div>
						<div class="4u 6u(2) 12u$(3)">
							<section class="feature fa-camera-retro">
								<h3>Morbi semper</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div>
						<div class="4u$ 6u$(2) 12u$(3)">
							<section class="feature fa-cog">
								<h3>Arcu consequat</h3>
								<p>Ipsum dolor tempus commodo amet sed accumsan et adipiscing blandit porttitor sed faucibus.</p>
							</section>
						</div> -->
					</div>
					{%endblock%}
				</div>				
			</section>
			
		<!-- Three -->
			<section id="three" class="wrapper style1">
				
				<div class="container">
					
					<header class="major">
						<h2>Outfits 2021</h2>
						<p>Ipsum dolor tempus commodo turpis adipiscing adipiscing in tempor placerat<br />
						sed amet accumsan enim lorem sem turpis ut. Massa amet erat accumsan curae<br />
						blandit porttitor faucibus in nisl nisi volutpat massa mi non nascetur.</p>
					</header>
					

					<div class="row">
					{%block outfits%}
						{%for i in outfit_list%}
						<div class="4u 6u$(2) 12u$(3)">
							<article class="box post">
								<a href="#" class="image fit"><img src="{% static '../static/images_ropa/BÁSICA/Captura de pantalla 2021-11-12 a las 0.14.12.png' %}" alt="" /></a>
								<h3>{{i.nombre}}</h3>
								<p>{{i.desc}}</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</article>
						</div>
						{% endfor%}
					</div>
					{% endblock %}
				</div>
				
			</section>
			
		<!-- CTA -->
			<section id="cta" class="wrapper style3">
				<h2>Sed faucibus et consequat</h2>
				<ul class="actions">
					<li><a href="#" class="button big">Get Started</a></li>
				</ul>
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<span class="copyright">
					&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
				</span>
			</footer>

	</body>
</html>