{% extends 'base2.html'%}
		<!-- Header -->
		{%block header%}
			<header id="header" class="skel-layers-fixed">
			
				<nav id="nav">
					
					<ul>
						<li><a href="../../home">Home</a></li> <!-- TODO preguntar como se redirige a paginas anteriores. ¿Es así?-->
					</ul>
						
				</nav>
			</header>
		{%endblock%}
		
		<!-- Main -->
		{%block categoria_info%}
			<section id="main" class="wrapper style1">
				<header class="major">
					{%block ocasion_info%}
					<h2>{{ocasion.nombre}}</h2>
					<p>{{ocasion.desc}}</p>
					{%endblock%}
				</header>
		{%endblock%}
		

		{%block categoria_info_extra%}
				<div class="container">
					<div class="row 150%">
						<div class="4u 12u$(2)">
						
							<!-- Sidebar -->
								<section id="sidebar">
									<section>
										<h3>Magna Feugiat</h3>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button small alt">Learn More</a></li>
											</ul>
										</footer>
									</section>
									<hr />
									<section>
										<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
										<h3>Amet Lorem Tempus</h3>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button small alt">Learn More</a></li>
											</ul>
										</footer>
									</section>
								</section>

						</div>
						<div class="8u 12u$(2) important(2)">
						
							<!-- Content -->
							
								<section id="content">
									<a href="#" class="image fit"><img src="images/slide02.jpg" alt="" /></a>
									<h3>Ocasiones asociadas</h3>
									
									{%for i in outfit_list %}
									<ul>
										<li>{{i.nombre}}</li>
									</ul>
									{%endfor%}

									<h3>Tipos de estilos para los que estan pensado</h3>
									<p>
									<!-- FALTA QUE SE LISTEN COSAS DE LA BBDD-->
									</p>
									<ul>
										<li>Faucibus orci lobortis ac adipiscing integer.</li>
										<li>Col accumsan arcu mi aliquet placerat.</li>
										<li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
										<li>Blandit massa non blandit tempor interdum.</li>
										<li>Lacinia mattis arcu nascetur lobortis.</li>
									</ul>
									
								</section>
							
								
						</div>
					</div>
				</div>
				{%endblock%}
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<span class="copyright">
				&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>	
				</span>
			</footer>

	</body>
</html>