{% load static %}
<!DOCTYPE HTML>
<!-- Plantilla base -> left-sidebar-html-->
<html>
	<head>
		<title> </title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static '../static/js/jquery.min.js' %}"></script>
		<script src="{% static '../static/js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static '../static/js/jquery.scrollgress.min.js' %}"></script>
		<script src="{% static '../static/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static '../static/js/jquery.slidertron.min.js' %}"></script>
		<script src="{% static '../static/js/skel.min.js' %}"></script>
		<script src="{% static '../static/js/skel-layers.min.js' %}"></script>
		<script src="{% static '../static/js/init.js' %}"></script>

		<link rel="stylesheet" href="{% static '../static/css/skel.css' %}" />
		<link rel="stylesheet" href="{% static '../static/css/style.css' %} " />
		<link rel="stylesheet" href="{% static '../static/css/style-xlarge.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
			<h1><a href="index.html">HTML5 Website <span>by Html5webtemplates.co.uk</span></a></h1>	
				<nav id="nav">
					{%block ocasion_outfits%}
					<ul>
						<li><a href="../../home">Home</a></li> <!-- TODO preguntar como se redirige a paginas anteriores. ¿Es así?-->
					</ul>
					{%endblock%}	
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper style1">

				<header class="major">
					{%block ocasion_info%}
					<h2>{{ocasion.nombre}}</h2>
					<p>{{ocasion.desc}}</p>
					{%endblock%}
				</header>
				<div class="container">
					<div class="row 150%">
						<div class="4u 12u$(2)">
						
							<!-- Sidebar -->
								<section id="sidebar">
									<section>
										<h3>Magna Feugiat</h3>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button small alt">Learn More</a></li>
											</ul>
										</footer>
									</section>
									<hr />
									<section>
										<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
										<h3>Amet Lorem Tempus</h3>
										<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button small alt">Learn More</a></li>
											</ul>
										</footer>
									</section>
								</section>

						</div>
						<div class="8u 12u$(2) important(2)">
						
							<!-- Content -->
							{%block prueba%}
								<section id="content">
									<a href="#" class="image fit"><img src="images/slide02.jpg" alt="" /></a>
									<h3>Ocasiones asociadas</h3>
									
									{%for i in outfit_list %}
									<ul>
										
										<li>{{i.nombre}}</li>
										
									</ul>
									{%endfor%}

									<h3>Tipos de estilos para los que estan pensado</h3>
									<p>

									</p>
									<ul>
										<li>Faucibus orci lobortis ac adipiscing integer.</li>
										<li>Col accumsan arcu mi aliquet placerat.</li>
										<li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
										<li>Blandit massa non blandit tempor interdum.</li>
										<li>Lacinia mattis arcu nascetur lobortis.</li>
									</ul>
									
								</section>
							{%endblock%}
								
						</div>
					</div>
				</div>
			</section>
			
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<span class="copyright">
				&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>	
				</span>
			</footer>

	</body>
</html>