{% extends 'base.html'%}
		<!-- Header -->
		{%block header%}
			<header id="header" class="skel-layers-fixed">
			
				<nav id="nav">
					<ul>
						<li><a href="../../">Inicio</a></li>
						
					</ul>
				</nav>
			</header>
		{%endblock%}
		

		<!-- Main -->
		{%block categoria_info%}
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>{{ocasion.nombre}}</h2>
				</header>
			</section>
		{%endblock%}
		

		{%block categoria_info_extra%}
				<div class="container">
					<div class="row 150%">
						<div class="4u 12u$(2)">
						
							<!-- Sidebar -->
								<section id="sidebar">
									<section>
										<br>
										<h3>Outfit Showroom</h3>
										<p>Outfit Showroom es una empresa española de venta de ropa cuya sede principal está en la ciudad de Bilbao. La compañía fue fundada en 2000. Es la marca principal del grupo Showroom y el minorista de indumentaria más grande del mundo con más de 3000 tiendas y con una amplia presencia en todos los continentes. Es popular debido a su concepto de “moda rápida”.</p>
										<footer>
											<ul class="actions">
												<li><a href="https://www.youtube.com/watch?v=gKCmezkfWbE" class="button small alt">Learn More</a></li>
											</ul>
										</footer>
									</section>
									<hr />
									<section>
										<a href="#" class="image fit"></a> <!--<img src="" alt="" />-->
										<h3>Showroom</h3>
										<p>La primera tienda Outfit Showroom abrió en 2000 en Bilbao, lugar en el que inició su actividad el Grupo y en el que se ubican los servicios centrales de la compañía a día de hoy. Durante los diez años siguientes, la cadena se extiende rápidamente por toda España y en 2010 se crea Showroom como cabecera del grupo de empresas.</p>
										<footer>
											<ul class="actions">
												<li><a href="https://www.inditex.com/" class="button small alt">Learn More</a></li>
											</ul>
										</footer>
									</section>
								</section>

						</div>
						<div class="8u 12u$(2) important(2)">
						
							<!-- Content -->
							
								<section id="content">
									<a href="#" class="image fit"></a><!--<img src="" alt="" />-->
									<h3>Detalles de la ocasión</h3>
									<p>{{ocasion.desc}}</p>
									<h3>Lista de outfits asociados a esta ocasión</h3>
									{%for outfit in ocasion.outfit_set.all%}	
									<li>{{outfit.nombre}}</li>
									{%endfor%}							
								</section>	
						</div>
					</div>
				</div>
				{%endblock%}
			</section>
			
		<!-- Footer -->
</html>