{% extends 'base.html'%}
		<!-- Header -->
		{%block header%} 
			<header id="header" class="skel-layers-fixed">
				<nav id="nav">
					<ul>
						<li><a href="../">Home</a></li>
						<!-- <li>
							<a href="" class="icon fa-angle-down">Ocasiones asociadas</a>
							<ul>
								<li><a href="../../ocasion/{{i.id_oc}}">{{i.nombre}}</a></li>
							</ul>
						</li>
						<li>
							<a href="" class="icon fa-angle-down">Tipos de estilo asociados</a>
							<ul>
								
								<li><a href="../../estilo/{{i.id_est}}">{{i.nombre}}</a></li>
								
							</ul>
						</li> -->
					</ul>
				</nav>
			</header>
		{%endblock%}
		<!-- Main -->
		{%block outfits%} 
			<section id="main" class="wrapper style1">
				<header class="major">
					
					<h2>Lista de outfits</h2>
					<p>¡Los mejores outfits!</p>
					
				</header>
				<div class="container">
					<!-- Content -->
						<section id="content">
							<a href="#" class="image fit"></a><!--<img src="" alt="" />-->
							<h3>Dolore Amet Consequat</h3>
							<p>Aliquam massa urna, imperdiet sit amet mi non, bibendum euismod est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam quam, mollis at magna consectetur non, malesuada quis augue. Morbi tincidunt pretium interdum est. Curabitur mi justo, tincidunt vel eros ullamcorper, porta cursus justo. Cras vel neque eros. Vestibulum diam.</p>
							<h3>Sed Magna Ornare</h3>
							<p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
							<ul>
								{%for i in outfit_list%}
								<li><a href="../outfit/{{i.id_out}}">{{i.nombre}}</a></li>
								{%endfor%}
							</ul>
						</section>		
				</div>
			</section>
		{%endblock%}
		<!-- Footer -->
	</body>
</html>
