{% extends 'base.html'%}
		<!-- Header -->
		{%block header%} 
			<header id="header" class="skel-layers-fixed">
				<nav id="nav">
					<a href="../../">Home</a>
				</nav>
			</header>
		{%endblock%}
		<!-- Main -->
		{%block outfits%} 
			<section id="main" class="wrapper style1">
				<header class="major">
					<h2>{{outfit.nombre}}</h2>
					
				</header>
				<div class="container">
					<!-- Content -->
						<section id="content">
							<a href="#" class="image fit"></a><!--<img src="" alt="" />-->
							<h3>Detalles del oufit</h3>
							<p>{{outfit.desc}}</p>
							<h3>Ocasiones para las que esta pensado</h3>
							{%for ocasion in outfit.ocasiones.all%}	
							<ul>
								<li>{{ocasion.nombre}}</li>
							</ul>
							<br>
							{%endfor%}
							<h3>Estilos para las que esta pensado</h3>
							<ul>
								<li>{{outfit.estilo.nombre}}</li>
							</ul>
						</section>		
				</div>
			</section>
		{%endblock%}
		<!-- Footer -->
	</body>
</html>
